#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    padding: 20px;
  }
  
  #name {
    font-weight: bold;
  }
  
  #links {
    display: flex;
  }
  
  #links a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
  }
  
  #links a:hover {
    text-decoration: underline;
  }


  article, section {
    display: block;
    margin: 0 120px 0 120px;
    font-size: 20px;
  }
  

  article {
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    position: relative;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 150px 120px;
  }
  
  .article-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .article-element h2 {
    width: 50%;
  }
  
  .article-element .article-content {
    width: 50%;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  

  .favorites-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .favorites-list li {
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  

  .article-element h2 {
    position: relative;
  }
  
  .article-element h2::after {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .article-element h2 span {
    text-decoration: underline;
    text-decoration-color: lime;
  }
  